article.book-note .content {
    padding: 1rem;
}

article.book-note blockquote,
article.book-note blockquote p {
    border-left: none;
    padding: 0 0.5rem;
    margin: 0 0 2rem;
    font-size: 1.4rem;
    line-height: 1.75;
    font-style: italic;
    color: var(--primary-color-2);
}

article.book-note p:last-of-type {
    margin-bottom: 0;
}

.metadata {
    display: flex;
    gap: 2.5rem;
}

.metadata h2 {
    font-size: 2.1rem;
    margin-bottom: 16px;
}

.image {
    min-width: 200px;
    margin: 0 auto 2rem;
}

.metadata h3 {
    color: var(--text);
    font-size: 1.75rem;
    margin-bottom: 12px;
}

.categories {
    margin: 1rem 0;
    display: flex;
    gap: 0.5rem;
}

.category {
    padding: 0 1rem;
    background-color: var(--primary-color-2);
    color: var(--background);
    border-radius: 0.25rem;
}

.finished-reading {
    font-size: 1.2rem;
}

.links {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

.links a {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .metadata {
        display: block;
    }

    .image {
        width: 200px;
        margin: 0 auto 2rem;
    }

    .links {
        display: block;
    }

    .links a {
        display: block;
        margin: 0.3rem 0;
    }
}
