html,
body {
    background-color: var(--background);
    color: var(--text);
    font-size: clamp(1rem, 0.96rem + 0.22vw, 1.125rem);
    font-family: var(--font);
    padding: 0;
    margin: 0;
}

main {
    width: var(--width);
    margin: 0 auto;
    padding: 0 10px;
    max-width: 100%;
}

main.full-width {
    width: 100%;
    padding: 0 25px;
}
