html,
body {
    background-color: var(--background);
    color: var(--text);
    font-size: clamp(1rem, 0.96rem + 0.22vw, 1.125rem);
    font-family: var(--font);
    padding: 0;
    margin: 0;
}

main {
    width: var(--width);
    margin: 32px auto 0 auto;
    padding: 0 10px;
    max-width: 100%;
}

main.full-width {
    width: 100%;
    padding: 0 25px;
}

hr {
    width: 250px;
    margin: 40px auto;
    border-bottom: 1px solid hsl(0, 0%, 87.1%);
    background-color: transparent;
}

h1 {
    font-weight: 500;
    font-size: 3.999rem;
    color: var(--primary-color-1);
    margin: 2rem 0;
    padding: 0;
}

h2 {
    font-weight: 400;
    font-size: 2.999rem;
    color: var(--primary-color-1);
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2.333rem;
    color: var(--primary-color-1);
    font-weight: 500;
    margin: 0;
}

h4 {
    font-size: 2rem;
    color: var(--primary-color-3);
}

h5 {
    font-size: 1.666rem;
}

h6 {
    font-size: 1.166rem;
}

h1 span,
h2 span,
h3 span {
    white-space: nowrap;
}

h1.text,
h2.text,
h3.text {
    color: var(--text);
}

p {
    line-height: 1.8;
    margin-bottom: 32px;
}

a,
a:visited {
    color: var(--primary-color-1);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: var(--primary-color-2);
    text-decoration: underline;
}

a img {
    border: none;
}

.utterances-frame {
    margin-top: 2rem;
    position: relative;
}

.utterances {
    max-width: 100%;
}

@media (max-width: 500px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.666rem;
    }

    h6 {
        font-size: 1.166rem;
    }
}
