---
interface Props {
    date: Date;
    readTime: number | null;
}

import { formatDate } from '@lib/DateUtils';
const { date, readTime } = Astro.props;
---

<div class="metadata">
    <div>{formatDate(date)}</div>
    {
        readTime ? (
            <>
                <div>&bull;</div>
                <div class="read-time">{readTime} min read</div>
            </>
        ) : null
    }
</div>

<style>
    .metadata {
        margin: 12px 0 20px 0;
        font-size: 1.2rem;
        color: var(--meta);
        font-weight: 300;
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        text-transform: uppercase;
    }
</style>
