---
interface Props {
    src: string;
    width?: number;
    height?: number;
}

const { src, width, height } = Astro.props;
---

<div class="video-container">
    <video controls width={width} height={height} autoplay={false}>
        <source src={src} type="video/mp4" />
         Not Supported
    </video>
</div>

<style>
    .video-container {
        max-width: 80%;
        margin: 32px auto;
        text-align: center;
    }
</style>
