---
import type { RelatedPost } from '@models/RelatedPost';

interface Props {
    posts: RelatedPost[];
}

const { posts } = Astro.props;
---

{
    posts.length > 0 ? (
        <section class="related-posts">
            <h4>Related Posts</h4>
            <ul class="posts">
                {posts.map((p) => (
                    <li>
                        <a href={p.url}>{p.title}</a>
                    </li>
                ))}
            </ul>
        </section>
    ) : null
}

<style>
    .posts li {
        margin: 12px 0;
    }
</style>
